$header-img: image-url('perl-raptor.png', false, false);

body {
    background-color: #fff;
}

h1 {
    font-size: 2.6em;
}
 
h2 {
    font-size: 2.2em;
}
 
h3 {
    font-size: 1.8em;
}
 
h4 {
    font-size: 1.3em;
}
 
h5 {
    font-size: 1em;
}
 
header aside .typcn {
    font-size: 15pt;
}

pre {
    overflow-x: auto;
}
 
footer .container {
    text-align: left;
    font-size: smaller;
    line-height: 1.3;
    padding-top: 1em;
}

.navbar .brand-img {
    display: inline-block;
    margin-bottom: -18px;
    height: 48px;
    width: 45px;
    display: inline-block;
    background-image: $header-img;
    background-repeat: no-repeat;
}

